<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
</head>
<body>
  <h1>Registration Form</h1>
  <form method="post" action="upload" enctype="multipart/form-data">
    <label for="name">Name:</label><br>
    <input type="text" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br>
    <label for="file">File:</label><br><br>
    <input type="file" name="file" required><br><br>
    <button type="submit">Upload</button>
  </form>
  
</body>
</html>
